* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
}

*:hover, *:disabled {
  transition: .2s;
}

.App {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  margin: auto 15px;
  padding: 5px 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

button {
  cursor: pointer;
  font-size: 1.7rem;
  padding: 10px 20px;
  margin: 15px 10px;
  border-radius: 5px;
  border: 2px solid #780000;
  background-color: #982649;
  color: #e2e2e2;
}

button:disabled {
  background-color: #e1e1e1;
  color: gray;
  opacity: 0.5;
  cursor: not-allowed;
}