.messages-container {
  background: linear-gradient(to left, #71A2B6, #60B2E5);
}

.all-messages, .headers , .message{
  display: flex;
  justify-content: space-around;
}

.headers {
  font-weight: bold;
  font-size: 1.3rem;
}

.all-messages p {
  padding: 0 5px;
}
.que  {
  width: 50%;
  height: 85vh;
  border: 3px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
}
.message-list-container {
  overflow-y: auto;
  height: 84vh;
  /* margin: 0 auto; */
}
.history p, .messages p {
  width: 20%;
}
.blur {
  filter: blur(5px);
}

.btn-container {
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

.delete-msg {
  cursor: pointer;
  opacity: 0;
}

.message:hover .delete-msg {
  opacity: 1;
}

.page-bar {
  /* position: absolute; */
  /* bottom: 5px; */
  width: 100%;
  justify-self: flex-end;
}

.bold {
  font-weight: 600;
  cursor: pointer;
}

.bold:hover {
  text-decoration: underline;
  color: white;
}
